{% extends "BiBundle::page.html.twig" %}

{% block stylesheet %}
	<link rel="stylesheet" type="text/css" href="{{ asset('js/uploadi5/uploadifive.css') }}" />
	<style>
		#user_img {
			display: none;
		}
		
		.user-img {
			width: 120px;
			display: block;	
		}
	</style>
{% endblock %}


{% block ct %}
	
	<h1><a href="{{ path('bi_member_friends') }}" class="pure-button">Znajomi</a></h1>

	<h1>Użytkownicy</h1>

	<div class="pure-g">
		{% for item in items %}
			{% if item.getIsActive() == true %}
			<div class="pure-u-1-5">
				{% include 'BiBundle:User:inc_thumb.html.twig' %}
			</div>
			{% endif %}
		{% endfor %}
	</div>   

{% endblock %}
