{% extends "BiBundle::page.html.twig" %}

{% block ct %}

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {#{ form(form, {attr : {class:'pure-form', action: path('login_check')}}) }#}


    <form action="{{ path('bi_login_check') }}" method="post" class="pure-form">
        <table>
            <tr>
                {#<td>
                    <label for="username">Login:</label>
                </td>#}
                <td>
                    <input type="text" id="username" name="_username" value="" placeholder="Login"/>
                </td>
            </tr>
            <tr>
                {#<td>
                    <label for="password">Hasło:</label>
                </td>#}
                <td>
                    <input type="password" id="password" name="_password" placeholder="Hasło"/>
                </td>
            </tr>
            <tr>
                <td>
                    <br>
                    <button type="submit" class="pure-button pure-button-primary">Zaloguj się</button>
                </td>
            </tr>
        </table>
        
        <br>
        <br>
        
        Jeśli nie masz jeszcze konta:
        <a href="{{ path('bi_user_register') }}" class="pure-button">Zarejestruj się</a>
        
    </form>



{% endblock %}